.DS_Store
terraform/.DS_Store

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*

# tf vars files
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc